h4 {
	color: #616161;
}

h4.panel-title {
	font-size: 16px;
	font-weight: 400;
}

span.text-danger {
	color: #ED1A3B;
	font-weight: bold;
}

.cancelled,
.completed {
	background-color: #ffffff !important;
	color:  #ED1A3B !important;
}

.completed {
	color: #777 !important;
}

.inActiveBtn {
	background-color: #DBDBDB !important;
	color: #ffffff !important;
}

.completed {
	color: #f7f7f7;
}

a.btn-default {
	line-height: 30px;
	font-weight: bold;
	border-radius: 4px !important;
}

input[type="radio"], 
input[type="checkbox"] {
	margin-top: -5px;
}

body {
	color: #616161;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

h4.admin{
	color: #616161;
	font-size: 16px;
	font-weight: 400;
}

.panel-group .panel {
    border-color: #EEEEEE;
    border-radius: 0;
    box-shadow: none;
}

.panel-default > .panel-heading {
    padding: 0;
    border-color: #EEEEEE;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
}

.panel-title {
    font-size: 14px;
}

.panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.more-less {
    float: right;
    color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
}

/* Flatten das boostrap */
.well, .navbar-inner, .popover, .btn, .tooltip, input, select, textarea, pre, .progress, .modal, .add-on, .alert, .table-bordered, .nav>.active>a, .dropdown-menu, .tooltip-inner, .badge, .label, .img-polaroid {
 	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	border-collapse: collapse !important;
	background-image: none !important;
}
button.btn-default {
	background: #616161;
	color: #ffffff;
	border-radius: 4px !important;
	border: none;
	padding: 10px;
}

@media (max-width: 767px) {
	span.text-danger {
		width: 50%;
	}
	table.table-responsive, h1, h2, h3, h4, h5, h6 {
		padding: 5px;
	}
	p.pull-right a {
		font-size: 12px;
	}
}
@media (min-width: 480px) {
	span.text-danger {
		width: 50%;
	}
}