.cancelled,
.completed {
	background-color: #ffffff !important;
	color: red !important;
}

.completed {
	color: #777 !important;
}

.inActiveBtn {
	background-color: #9B9B9B !important;
	color: #f8f8f8 !important;
}

input[type="radio"], 
input[type="checkbox"] {
	margin-top: -5px;
}

body {
	color: #616161;
}

h4.admin{
	color: #616161;
	font-size: 16px;
	font-weight: 400;
}

.panel-group .panel {
    border-color: #EEEEEE;
    border-radius: 0;
    box-shadow: none;
}

.panel-default > .panel-heading {
    padding: 0;
    border-color: #EEEEEE;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
}

.panel-title {
    font-size: 14px;
}

.panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.more-less {
    float: right;
    color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
}

/* Flatten das boostrap */
.well, .navbar-inner, .popover, .btn, .tooltip, input, select, textarea, pre, .progress, .modal, .add-on, .alert, .table-bordered, .nav>.active>a, .dropdown-menu, .tooltip-inner, .badge, .label, .img-polaroid {
 	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	border-collapse: collapse !important;
	background-image: none !important;
}
button.btn-default {
	background: #616161;
	color: #ffffff;
	border-radius: 4px !important;
	border: none;
}