/*******************************
* Does not work properly if "in" is added after "collapse".
* Get free snippets on bootpen.com
*******************************/

body {
	color: #616161;
}

h4.admin, div.panel-group {
	color: #616161;
}

.panel-group .panel {
    border-color: #EEEEEE;
    border-radius: 0;
    box-shadow: none;
}

.panel-default > .panel-heading {
    padding: 0;
    border-color: #EEEEEE;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
}

.panel-title {
    font-size: 14px;
}

.panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.more-less {
    float: right;
    color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
}